.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Cursive;
  background-image: linear-gradient(to bottom, #0a520a, #e3e843);
}

.image {
  width: 300px;
  height: 300px;
  border-radius: 200px;
}

.text-color {
  color: #d6275e;
}
